<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-5 mt-3">
    <div class="card mb-3">
      <img src="{{secHaber.imageUrl}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{secHaber.icerikbaslik}}</h5>
        <p class="card-text">{{secHaber.icerikM}}.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button class="btn btn-outline-danger" style="float:right" [routerLink]="['/']">Geri Dön</button>
      </div>
    </div>
  </div>
</div>
